html,
body {
  background-color: hsla(284, 3%, 9%, 1);
  color: white;
  padding: 0;
  margin: 0;
  font-family: monaco, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
